.chart-page-container {
  min-height: 86vh;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .chart-page-title {
    font-size: 30px;
    font-family: roboSlab, serif;
  }
}
