.contact-page-container {
  padding: 10px 50px;
  min-height: 86vh;
  .contact-page-title {
    text-align: center;
    font-size: 40px;
    font-family: roboSlab, serif;
  }
  .contact-page-add-btn {
    position: fixed;
    bottom: 50px;
    right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 50px;
    background-color: #3f507e;
    transition: all 0.5s;
    &:hover {
      background-color: #5267a0;
    }
  }
}

@media (max-width: 870px) {
  .contact-page-container {
    padding: 10px 30px;
    min-height: 88vh;
    .contact-page-add-btn {
      width: 55px;
      height: 55px;
      font-size: 32px;
      bottom: 60px;
      right: 3%;
      background-color: #3f507ec7;
    }
  }
}
