.contact-list-container {
  .contact-list-contain-prev {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    .contact-list-contain-link-prev {
      text-decoration: none;
    }
  }
}
